<!DOCTYPE html>
<html>	
	<head>	
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Product App</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div class="nav-bar"></div>
		<div id="app">
			<div class="product">
				<div class="product-image">	
					<img v-bind:src="image">
				</div>
				<div class="product-info">
					<h1>{{ product }}</h1>
					<p>{{ description }}</p>
					<a :href="link">More products like this</a>
					<p v-if="inventory > 10">In Stock</p>
					<p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
					<p v-else
					   :class="{ outOfStock: inventory == 0 }">Out of Stock</p>
					<!-- <span v-show="onSale">On Sale!</span> -->
					<ul>
						<li v-for="detail in details"> {{ detail }}</li>
					</ul>
					<ul>
						<li style="display: inline; list-style-type: none;" v-for="size in sizes"> {{ size }}</li>
					</ul>
					<div v-for="variant in variants" 
						:key="variant.variantId"
						class="color-box"
						:style="{ backgroundColor: variant.variantColor }"
						@mouseover="changeImage(variant.variantImage)">
					</div>

					<button v-on:click="addToCart" 
							:disabled="inventory == 0"
							:class="{ disabledButton: inventory == 0 }">Add to cart</button>
					<button style="width: 140px;" 
							@click="removeFromCart" 
							:class="{ disabledButton: cart == 0 }">Remove from cart</button>

					<div class="cart">
        				<p>Cart({{ cart }})</p>
      				</div>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="main.js"></script>
	</body>
</html>